input{
  background: transparent;
  color: #ffffff;
}

.sales-table {
  border-collapse: collapse;
  font-size: 1rem;
  min-width: 400px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.sales-table thead tr {
  background-color: #370d08;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  left: 0;
}

.sales-table th,
.sales-table td {
  padding: 12px 15px;
}

.sales-table tbody tr {
  border-bottom: 1px solid #ddd;
}

.sales-table tbody tr:nth-of-type(even) {
  background-color: #bb8585;
  color: #370d08;
}

/* .sales-table tbody tr:nth-of-type(odd) {
  color: #fbbe24;
} */

.sales-table tbody tr:last-of-type {
  border-bottom: 2px solid #370d08;
}